# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
venv/
env/
.xstage_venv/
.xstage_python/
.python_build/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store

# xStage build/install dirs
.xstage_usd/
.xstage_usd_build/

# xStage USD assets
*.usd
*.usda
*.usdc
*.usdz
*.log
